<div id = "nav">
    <button><%= link_to "Newest", api_v1_upload_report_path %></button>
    <button><%= link_to "Previous #{@page} Cells", api_v1_upload_report_path(page: @page.to_i > 2 ? @page.to_i - 1 : 1) %></button>
    <button><%= link_to "Next #{@page} Cells", api_v1_upload_report_path(page: @page.to_i + 1) %></button>
</div>


<%if @cells && @cells.size > 0 %>
	<% @cells.each do |c| %>
		<%= display_cell(c)%>	        
	    <% if c.metrics && c.metrics.size > 0%> 
			<% c.metrics.each do |m| %>					
				<% m.ingested_datum.each do |data| %>
					<%= display_raw_data(data)%>
				<% end %>
			<% end %>
		<% end %>
	<% end %>	
<% end %>
